<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.teamDay.mapper.TestMapper">

	<!-- 정규식 등록 -->
	<insert id="regexInsert" parameterType="hashMap">
		insert into regexTbl(name, url, email, password, phoneNumber, residentNumer, CardNumber) 
			VALUES(#{name}, #{url}, #{email}, #{password}, #{phoneNumber}, #{residentNumer}, #{cardNumber})
	</insert>
	
</mapper>